# Variables de entorno para ms-usuario

# Puerto del microservicio
PORT=3003

# URLs de n8n para webhooks
N8N_WEBHOOK_URL_1=http://localhost:5678/webhook/tourist-event-workflow
N8N_WEBHOOK_URL_2=http://localhost:5678/webhook/sheets-sync-workflow
N8N_WEBHOOK_URL_3=http://localhost:5678/webhook/alert-workflow

# Entorno de ejecución
NODE_ENV=development
